* {box-sizing: border-box;}

#cell {
  border: black thin solid;
}
#cell2 {
  border: black thin solid;
}
.cell {
  border: #008000 thin solid;
  float: left;
  width: 33.3333333%;
  text-align: center;
  color: black;
  font-size: 100px;
  border-radius: 0px;
  background-image: url(https://hipertextual.com/files/2017/03/color-degradado-fondos-degradados-multicolor-51200-670x410.jpg);
}
#titulo {
  text-align: center;
  color: #B8860B;

}
html, body {
  height: 100%;
}
